.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 123px;
    margin: 0 auto;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
}

.star-ratings-css::before {
    content: '★★★★★';
    opacity: .3;
}

[title="0"]::after {
    width: 0%;
}

[title="0.5"]::after {
    width: 12.5%;
}

[title="1"]::after {
    width: 21%;
}

[title="1.5"]::after {
    width: 31%;
}

[title="2"]::after {
    width: 42%;
}

[title="2.5"]::after {
    width: 51%;
}

[title="3"]::after {
    width: 62%;
}

[title="3.5"]::after {
    width: 62%;
}

[title="4"]::after {
    width: 82%;
}

[title="4.5"]::after {
    width: 91%;
}

[title="5"]::after {
    width: 100%;
}

.star-ratings-css::after {
    color: gold;
    content: '★★★★★';
    text-shadow: 0 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top: 0;
    width: attr(rating);
    overflow: hidden;
}